body{
    background-image: linear-gradient(to right,rgb(50, 240, 12),rgb(77, 24, 223));
}
.login{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}
.login-form{
    font-family: sans-serif;
    width: 300px;
    height: 400px;
    border-radius: 20px;
    background: rgb(197, 211, 211);
    padding-left: 20px;
}
h1{
    color: blue;
}
input{
    width: 250px;
    height: 30px;
    border: 1px solid black;
    border-radius: 10px;
}
.forgot{
    padding-top: 15px;
}
.forgot a{
    text-decoration: none;
    color: black;
}
.btn{
    padding-top: 20px;
}
.btn button{
    border: none;
    width: 250px;
    height: 30px;
    border-radius: 20px;
    background-image:linear-gradient(to right,rgb(187, 255, 0),rgb(0, 225, 255));
}
.btn button a{
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}
.btn button:hover{
   background: rgb(164, 104, 219);
}
.sign-in{
    padding-top: 20px;
    padding-left: 80px;
    
}
.sign-in a{
    text-decoration: none;
    font-weight: bold;
    color: blue;
}
